<h1> NOAA weather data </h1>

In [254]:
from __future__ import division
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib.colors import ListedColormap
%pylab inline
pylab.rcParams['figure.figsize'] = (12.0, 6.0) # set size of figures"
plt.rcParams.update({'font.size': 24})

Populating the interactive namespace from numpy and matplotlib

/usr/local/lib/python2.7/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['f']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

In [255]:
good_columns = pd.read_csv('/Users/attiladobi/Documents/NOAA_Et_2014_2017.txt', nrows=0, header=0 , sep=r"\s+").columns

In [332]:
NOAA = pd.read_csv('/Users/attiladobi/Documents/NOAA_Et_2014_2017.txt', skiprows=1, header=None , sep=r"\s+")\
[[0, 1, 2, 3, 5, 7, 9, 11, 13, 15, 16, 17, 18, 19, 20, 21]]
NOAA.columns=good_columns

In [333]:
NOAA.head()

,STN---,WBAN,YEARMODA,TEMP,DEWP,SLP,STP,VISIB,WDSP,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT
0,633300,99999,20140103,60.7,46.4,1027.7,780.5,17.4,5.8,7.8,999.9,69.1*,49.1,0.00I,999.9,0
1,633300,99999,20140104,60.4,40.2,1026.6,779.6,18.0,8.7,15.5,999.9,70.5*,47.3,0.00I,999.9,0
2,633300,99999,20140106,66.5,44.2,1024.7,777.1,14.8,10.2,15.5,999.9,71.6*,48.2,0.00I,999.9,0
3,633300,99999,20140109,64.0,41.8,1026.9,779.8,17.1,8.7,17.5,999.9,71.6*,49.3,0.00I,999.9,0
4,633300,99999,20140111,61.2,46.9,1027.3,780.2,17.1,11.7,15.5,999.9,68.7*,50.7,0.00I,999.9,0

In [334]:
NOAA['STN---'] = NOAA['STN---'].astype(str)
NOAA.rename(columns={'STN---': 'STN'}, inplace=True)
NOAA.MAX = [float(val.strip('*')) for val in NOAA.MAX]
NOAA.MIN = [float(val.strip('*')) for val in NOAA.MIN]
NOAA.PRCP = [float(val.strip('[A,E,I,G]')) for val in NOAA.PRCP]
NOAA = NOAA.replace('99.99', np.nan).replace('999.9', np.nan).replace('9999.9', np.nan)

<h1> Load in station list </h1>

In [335]:
ET_STN= {}

import re
with open('/Users/attiladobi/Documents/NOAA_station_list.txt', 'r') as f:
    for i in range(100):
        f.next()
    for line in f:
        ET_station = line.split('   ET   ')
        if len(ET_station) > 1:
            #print ET_station[1][34:43].strip()
            STN = ET_station[0].split(' ')[0]
            WBAN = ET_station[0].split(' ')[1]
            NAME = ' '.join(ET_station[0].split(' ')[2:]).strip()
            
            CODE = ET_station[1][:9].strip()
            LAT = ET_station[1][9:17].strip()
            LON = ET_station[1][17:26].strip()
            ELEVATION =  ET_station[1][26:34].strip()
            BEGIN =  ET_station[1][34:43].strip()
            END =  ET_station[1][43:].strip()
            
            ET_STN.update({STN: {'WBAN': WBAN, 'NAME': NAME, 'STN': STN, 'CODE': CODE, 'LAT': LAT, 'LON': LON, \
                                'ELEVATION': ELEVATION, 'BEGIN': BEGIN, 'END': END}})

In [336]:
import json
def save_dict_as_json(filename, mapping):
    '''Save dict as json object'''
    with open(filename, 'w') as outfile:
        json.dump(mapping, outfile, indent=4, sort_keys=True, separators=(',', ':'))

def load_dict_from_json(filepath):
    '''given file path to json mapping return a dict'''
    with open(filepath) as data_file:    
        return json.load(data_file)
    
save_dict_as_json('ET_STATION_LIST.json', ET_STN)

<h1> Add station data to NOAA weather data </h1>

In [337]:
NOAA['ELEVATION'] = [ET_STN['%s' % stn]['ELEVATION'] for stn in NOAA['STN']]
NOAA['STATION_NAME'] = [ET_STN[stn]['NAME'] for stn in NOAA['STN']]
NOAA['LAT'] = [ET_STN['%s' % stn]['LAT'] for stn in NOAA['STN']]
NOAA['LON'] = [ET_STN['%s' % stn]['LON'] for stn in NOAA['STN']]

In [338]:
NOAA.to_csv('/Users/attiladobi/Documents/NOAA_ET_LATLON.csv')

In [339]:
NOAA.groupby('STATION_NAME').count()

,STN,WBAN,YEARMODA,TEMP,DEWP,SLP,STP,VISIB,WDSP,MXSPD,GUST,MAX,MIN,PRCP,SNDP,FRSHTT,ELEVATION,LAT,LON
STATION_NAME,,,,,,,,,,,,,,,,,,,
ARBA MINCH,647,647,647,647,645,0,0,647,110,110,0,647,647,645,0,647,647,647,647
AWASSA (LAKE),724,724,724,724,723,0,0,724,283,283,0,724,724,700,0,724,724,724,724
BAHIR DAR,693,693,693,693,692,687,684,693,582,582,0,693,693,686,0,693,693,693,693
BOLE INTL,1045,1045,1045,1045,1045,854,853,1030,1041,1040,2,1044,1044,963,0,1045,1045,1045,1045
COMBOLCHA/DESSIE,790,790,790,790,789,784,787,790,466,466,0,790,790,767,0,790,790,790,790
DEBRE MARCOS,661,661,661,661,658,406,658,661,381,381,0,661,661,648,0,661,661,661,661
DIRE DAWA INTL,863,863,863,863,863,861,862,863,841,841,0,863,863,825,0,863,863,863,863
GODE,482,482,482,482,0,478,477,482,402,402,0,482,482,480,0,482,482,482,482
GONDER,318,318,318,318,316,312,311,318,100,100,0,318,318,311,0,318,318,318,318
GORE,712,712,712,712,710,0,0,712,522,521,0,712,712,711,0,712,712,712,712
HARAR MEDA (MIL),8,8,8,8,8,8,7,8,1,1,0,8,8,8,0,8,8,8,8
JIMMA,750,750,750,750,750,184,745,750,1,1,0,750,749,740,0,750,750,750,750
LEKEMTE,741,741,741,741,740,741,738,741,484,484,0,741,741,729,0,741,741,741,741
MEKELE,627,627,627,627,624,618,622,626,396,396,0,627,627,624,0,627,627,627,627
METEHARA,698,698,698,698,664,204,636,698,498,498,0,698,698,695,0,698,698,698,698
NEGHELLI (MIL),552,552,552,552,552,0,0,551,511,511,0,552,552,539,0,552,552,552,552
ROBE/BALE,719,719,719,719,716,0,0,719,494,494,0,719,719,689,0,719,719,719,719

<h3> To join this data with the malaria table the values have to be grouped by Y-m </h3>

In [340]:
NOAA['DATE'] = [pd.to_datetime(val, format='%Y%m%d') for val in NOAA['YEARMODA']]
NOAA['YEAR_MONTH'] = NOAA['DATE'].dt.strftime('%Y-%m')

In [341]:
NOAA.groupby(['STN', 'YEAR_MONTH' ]).mean()

                      WBAN      YEARMODA       TEMP       DEWP          SLP  \
STN    YEAR_MONTH
633300 2014-01     99999.0  2.014012e+07  64.450000  40.472222  1026.583333
       2014-02     99999.0  2.014022e+07  64.136364  47.395455  1024.740909
       2014-03     99999.0  2.014032e+07  68.620000  44.935000  1025.763158
       2014-04     99999.0  2.014042e+07  69.380000  44.491667  1027.004000
       2014-05     99999.0  2.014051e+07  70.072727  49.333333  1026.600000
       2014-06     99999.0  2.014062e+07  70.642857  46.776190  1026.309524
       2014-07     99999.0  2.014072e+07  65.082609  54.695652  1026.581818
       2014-08     99999.0  2.014082e+07  63.911111  56.800000  1025.800000
       2014-09     99999.0  2.014091e+07  65.200000  51.672000  1025.929167
       2014-10     99999.0  2.014102e+07  64.730769  49.534615  1026.592308
       2014-11     99999.0  2.014111e+07  64.757143  50.828571  1027.742857
       2014-12     99999.0  2.014123e+07  65.000000  38.600000  1026.500000
       2015-01     99999.0  2.015012e+07  62.558333  40.283333  1027.600000
       2015-02     99999.0  2.015022e+07  67.388889  44.088889  1025.833333
       2015-03     99999.0  2.015031e+07  69.555556  36.266667  1026.833333
       2015-04     99999.0  2.015041e+07  70.655556  43.000000  1025.777778
       2015-05     99999.0  2.015052e+07  70.350000  51.600000  1026.800000
       2015-06     99999.0  2.015061e+07  72.520000  44.705000  1026.020000
       2015-07     99999.0  2.015072e+07  67.200000  54.670588  1026.011765
       2015-08     99999.0  2.015082e+07  66.396296  57.114815  1026.322222
       2015-09     99999.0  2.015092e+07  70.988889  52.633333  1026.844444
       2015-10     99999.0  2.015101e+07  69.357895  55.910526  1027.789474
       2015-11     99999.0  2.015112e+07  66.437500  49.337500  1026.912500
       2015-12     99999.0  2.015122e+07  64.088889  51.644444  1028.111111
       2016-01     99999.0  2.016012e+07  64.090909  53.418182  1027.500000
       2016-02     99999.0  2.016022e+07  68.666667  43.888889  1028.144444
       2016-03     99999.0  2.016032e+07  72.664286  52.357143  1027.083333
       2016-04     99999.0  2.016042e+07  70.152000  52.508000  1026.256000
       2016-05     99999.0  2.016052e+07  70.744000  46.968000  1027.860000
       2016-06     99999.0  2.016061e+07  75.370000  43.480000  1027.445000
...                    ...           ...        ...        ...          ...
635330 2014-08     99999.0  2.014082e+07  71.850000  59.944444          NaN
       2014-09     99999.0  2.014091e+07  71.776923  59.946154          NaN
       2014-10     99999.0  2.014102e+07  69.726087  61.491304          NaN
       2014-11     99999.0  2.014112e+07  71.750000  59.675000          NaN
       2014-12     99999.0  2.014123e+07  77.400000  44.700000          NaN
       2015-01     99999.0  2.015012e+07  76.485714  47.521429          NaN
       2015-02     99999.0  2.015022e+07  78.581818  51.636364          NaN
       2015-03     99999.0  2.015031e+07  75.825000  49.950000          NaN
       2015-04     99999.0  2.015041e+07  72.166667  62.122222          NaN
       2015-05     99999.0  2.015053e+07  70.466667  62.200000          NaN
       2015-06     99999.0  2.015061e+07  70.405000  59.870000          NaN
       2015-07     99999.0  2.015072e+07  68.535294  58.876471          NaN
       2015-08     99999.0  2.015082e+07  69.836000  57.232000          NaN
       2015-09     99999.0  2.015092e+07  72.650000  57.387500          NaN
       2015-10     99999.0  2.015101e+07  70.553333  62.673333          NaN
       2015-11     99999.0  2.015111e+07  72.420000  61.730000          NaN
       2015-12     99999.0  2.015122e+07  77.066667  56.566667          NaN
       2016-01     99999.0  2.016012e+07  77.000000  53.850000          NaN
       2016-02     99999.0  2.016022e+07  81.142857  51.714286          NaN
       2016-03     99999.0  2.016032e+07  81.663636  57.727273          NaN
       2016-04     99999.0  2.016041e+07  72.575000  64.010000          NaN
       2016-05     99999.0  2.016052e+07  69.250000  61.400000          NaN
       2016-06     99999.0  2.016062e+07  67.965217  57.760870          NaN
       2016-07     99999.0  2.016071e+07  67.671429  56.200000          NaN
       2016-08     99999.0  2.016082e+07  69.372727  54.322727          NaN
       2016-09     99999.0  2.016092e+07  70.268182  55.140909          NaN
       2016-10     99999.0  2.016102e+07  70.780952  60.009524          NaN
       2016-11     99999.0  2.016111e+07  71.300000  55.259091          NaN
       2016-12     99999.0  2.016122e+07  74.169231  46.384615          NaN
       2017-01     99999.0  2.017010e+07  80.000000  27.700000          NaN

                          STP      VISIB       WDSP      MXSPD  GUST  \
STN    YEAR_MONTH
633300 2014-01     779.544444  17.827778   9.442857  13.450000   NaN
       2014-02     778.222727  16.095455  10.311111  15.316667   NaN
       2014-03     778.931579  17.700000  10.800000  15.529412   NaN
       2014-04     779.892000  17.604000  12.236842  17.884211   NaN
       2014-05     779.630000  17.009091   9.027273  13.754545   NaN
       2014-06     779.514286  16.885714   6.981818  11.336364   NaN
       2014-07     782.208696  16.434783   6.737500  10.825000   NaN
       2014-08     778.994444  12.127778   5.840000   8.170000   NaN
       2014-09     779.240000  16.328000   6.521429  10.014286   NaN
       2014-10     779.623077  17.830769   9.790909  14.472727   NaN
       2014-11     780.528571  17.471429  11.450000  16.183333   NaN
       2014-12     779.550000  18.600000   7.750000  13.600000   NaN
       2015-01     780.383333  17.483333  10.881818  15.200000   NaN
       2015-02     779.022222  17.411111   9.942857  16.371429   NaN
       2015-03     779.822222  17.866667  12.712500  16.012500   NaN
       2015-04     779.044444  16.411111  11.088889  14.022222   NaN
       2015-05     779.800000  17.525000  10.700000  18.450000   NaN
       2015-06     779.180000  15.475000   5.325000   7.300000   NaN
       2015-07     779.305882  17.211765   5.520000   8.960000   NaN
       2015-08     779.423077  16.018519   5.000000   7.618182   NaN
       2015-09     779.822222  18.111111   6.075000   8.775000   NaN
       2015-10     781.873684  18.531579   8.492308  11.076923   NaN
       2015-11     779.837500  18.225000   9.633333  13.283333   NaN
       2015-12     780.800000  16.788889  12.128571  15.500000   NaN
       2016-01     780.327273  16.990909  10.100000  14.033333   NaN
       2016-02     780.833333  18.266667  13.300000  16.085714   NaN
       2016-03     780.246154  17.450000  11.783333  16.183333   NaN
       2016-04     779.276000  17.412000   9.718750  14.200000   NaN
       2016-05     780.644000  17.704000   7.883333  11.666667   NaN
       2016-06     780.300000  17.625000   7.442857  11.128571   NaN
...                       ...        ...        ...        ...   ...
635330 2014-08            NaN  17.088889   9.262500  13.343750   NaN
       2014-09            NaN  17.234615   8.346154  12.173077   NaN
       2014-10            NaN  15.891304   5.661905   8.519048   NaN
       2014-11            NaN  15.525000   5.825000   8.775000   NaN
       2014-12            NaN  15.500000   5.800000   7.800000   NaN
       2015-01            NaN  13.071429   7.278571  10.957143   NaN
       2015-02            NaN  15.090909   8.281818  10.963636   NaN
       2015-03            NaN  15.187500  10.375000  13.100000   NaN
       2015-04            NaN  16.944444   6.828571  10.557143   NaN
       2015-05            NaN  16.466667   7.733333  11.000000   NaN
       2015-06            NaN  17.721053   7.842105  12.063158   NaN
       2015-07            NaN  17.323529   9.242857  13.057143   NaN
       2015-08            NaN  18.188000   9.039130  12.995652   NaN
       2015-09            NaN  17.900000   6.350000  10.050000   NaN
       2015-10            NaN  15.466667   6.707143  10.414286   NaN
       2015-11            NaN  16.830000   6.900000   9.720000   NaN
       2015-12            NaN  18.025000   8.350000  11.850000   NaN
       2016-01            NaN  17.790000   9.040000  12.040000   NaN
       2016-02            NaN  17.285714   8.233333  10.700000   NaN
       2016-03            NaN  17.463636   8.060000  11.260000   NaN
       2016-04            NaN  15.625000   7.127778   9.938889   NaN
       2016-05            NaN  16.060000   8.165000  12.150000   NaN
       2016-06            NaN  15.169565   9.686957  13.091304   NaN
       2016-07            NaN  17.342857  10.100000  14.128571   NaN
       2016-08            NaN  17.254545  10.300000  13.681818   NaN
       2016-09            NaN  17.604545   8.209524  11.847619   NaN
       2016-10            NaN  17.004762   6.900000  10.295000   NaN
       2016-11            NaN  16.595455   8.594737  12.563158   NaN
       2016-12            NaN  17.530769   9.480000  13.436000   NaN
       2017-01            NaN  16.300000   5.800000  11.700000   NaN

                         MAX        MIN      PRCP  SNDP        FRSHTT
STN    YEAR_MONTH
633300 2014-01     72.944444  49.627778  0.000000   NaN      0.000000
       2014-02     74.277273  50.181818  0.010909   NaN   9090.909091
       2014-03     75.800000  54.285000  0.026000   NaN    500.500000
       2014-04     76.200000  55.580000  0.097600   NaN      0.000000
       2014-05     76.900000  55.100000  0.048182   NaN   1364.545455
       2014-06     78.466667  55.119048  0.024762   NaN      0.952381
       2014-07     71.882609  55.482609  0.145217   NaN   2613.478261
       2014-08     70.200000  55.572222  0.384118   NaN  53337.222222
       2014-09     72.384000  51.616000  0.107600   NaN   8803.200000
       2014-10     71.973077  50.857692  0.012308   NaN      0.384615
       2014-11     72.728571  51.742857  0.000000   NaN      0.000000
       2014-12     73.800000  46.150000  0.000000   NaN      0.000000
       2015-01     70.616667  46.283333  0.000000   NaN   8333.333333
       2015-02     77.522222  50.900000  0.000000   NaN      0.000000
       2015-03     76.711111  54.800000  0.000000   NaN      0.000000
       2015-04     78.800000  55.788889  0.000000   NaN      0.000000
       2015-05     77.100000  56.750000  0.060000   NaN      0.000000
       2015-06     80.370000  56.440000  0.035500   NaN    500.500000
       2015-07     75.288235  54.670588  0.155882   NaN   1179.411765
       2015-08     73.362963  55.307407  0.245556   NaN  13336.666667
       2015-09     76.600000  53.644444  0.026667   NaN      1.111111
       2015-10     75.689474  54.315789  0.000000   NaN      0.000000
       2015-11     71.975000  52.025000  0.002500   NaN      0.000000
       2015-12     69.400000  51.500000  0.056667   NaN      0.000000
       2016-01     72.163636  51.272727  0.000000   NaN   9090.909091
       2016-02     75.088889  52.177778  0.000000   NaN      0.000000
       2016-03     78.842857  56.914286  0.065000   NaN      0.714286
       2016-04     76.652000  56.856000  0.095417   NaN    401.600000
       2016-05     78.096000  56.296000  0.018800   NaN    400.800000
       2016-06     81.630000  57.280000  0.000000   NaN      0.000000
...                      ...        ...       ...   ...           ...
635330 2014-08     77.955556  60.294444  0.073889   NaN  11666.666667
       2014-09     76.142308  61.134615  0.026400   NaN  12692.307692
       2014-10     74.969565  61.800000  0.169565   NaN   3044.347826
       2014-11     78.075000  60.575000  0.087500   NaN      0.000000
       2014-12     83.700000  57.200000  0.000000   NaN      0.000000
       2015-01     84.428571  60.392857  0.000000   NaN      0.000000
       2015-02     86.909091  63.881818  0.000000   NaN      0.000000
       2015-03     83.237500  63.862500  0.010000   NaN   1250.000000
       2015-04     78.966667  62.777778  0.238889   NaN   2222.222222
       2015-05     76.650000  62.966667  0.000000   NaN   1666.666667
       2015-06     76.525000  61.190000  0.059000   NaN  10000.000000
       2015-07     74.264706  60.147059  0.001765   NaN      0.000000
       2015-08     76.932000  60.160000  0.001600   NaN      0.000000
       2015-09     80.137500  62.600000  0.012857   NaN   1251.250000
       2015-10     75.100000  62.346667  0.242000   NaN   8668.000000
       2015-11     75.890000  62.380000  0.142000   NaN   2000.000000
       2015-12     81.808333  62.425000  0.003333   NaN      0.000000
       2016-01     85.270000  64.240000  0.008000   NaN      0.000000
       2016-02     87.442857  66.157143  0.000000   NaN      0.000000
       2016-03     88.436364  66.709091  0.098000   NaN   1818.181818
       2016-04     77.895000  65.255000  0.205000   NaN  13004.000000
       2016-05     74.825000  61.530000  0.085500   NaN  11005.500000
       2016-06     73.686957  60.595652  0.029130   NaN      0.000000
       2016-07     73.971429  59.835714  0.001429   NaN      0.000000
       2016-08     75.809091  60.200000  0.008182   NaN      0.000000
       2016-09     77.577273  60.336364  0.001905   NaN    909.090909
       2016-10     76.747619  62.109524  0.127000   NaN    952.380952
       2016-11     77.895455  60.931818  0.112500   NaN   1818.181818
       2016-12     81.376923  59.576923  0.035000   NaN      0.000000
       2017-01     83.800000  63.100000  0.000000   NaN      0.000000

[583 rows x 15 columns]

In [342]:
NOAA.to_csv('/Users/attiladobi/Documents/NOAA_ET_LATLON.csv')

In [345]:
NOAA.columns

Index([u'STN', u'WBAN', u'YEARMODA', u'TEMP', u'DEWP', u'SLP', u'STP',
       u'VISIB', u'WDSP', u'MXSPD', u'GUST', u'MAX', u'MIN', u'PRCP', u'SNDP',
       u'FRSHTT', u'ELEVATION', u'STATION_NAME', u'LAT', u'LON', u'DATE',
       u'YEAR_MONTH'],
      dtype='object')

In [ ]:
from mpl import Polygon

In [346]:
from shapely.geometry import shape

ImportError: No module named shapely.geometry