In [1]:
from __future__ import division
import numpy as np
import pandas as pd
%pylab inline
pylab.rcParams['figure.figsize'] = (12.0, 6.0) # set size of figures"
plt.rcParams.update({'font.size': 24})
pd.options.display.max_rows=50

Populating the interactive namespace from numpy and matplotlib

In [2]:
f=!ls /Users/attiladobi/nacosa/Site Database Sex Work Q1 and Q2

#First of all, lets replace all the white spaces to make reading in the files easier
import os
path  = os.getcwd()
filenames = os.listdir('/Users/attiladobi/nacosa')
for filename in filenames:
    os.rename(os.path.join(path, filename), os.path.join(path, filename.replace(' ', '_')))

OSError: [Errno 2] No such file or directory

In [3]:
!ls /Users/attiladobi/nacosa/Site\ Database\ Sex\ Work\ Q1\ and\ Q2/

CPC Brits Site Database .xlsx
CPC Germiston Site Database .xlsx
CPC Rustenburg Site Database .xlsx
CPC Springs Site Database .xlsx
CPC West Rand Site Database .xlsx
Nqobile Sedibeng Site Database .xlsx
OASIS Diepsloot Site Database .xlsx
OASIS Randburg Site Database .xlsx
OASIS Westrand Site Database .xlsx
QAC Thabo Mofutsanyane Site Database .xlsx
SW Indicator Mapping.xlsx
SWEAT Buffalo City Site Data Base .xlsx
SWEAT City Of Cape Town Site Database .xlsx
TBHIV City of Cape Town HTS Site Database .xlsm
TBHIV City of Cape Town Outreach Site database.xlsm
WRHI HILLBROW Q2 Site database.xlsx
WRHI Pretoria Q2 Site database .xlsx
WRHI ROSETTENVILLE  Q2 Site database.xlsx
WRHI TG  MSM Q2 Site database .xlsx

In [8]:
filepath=r"/Users/attiladobi/nacosa/Site Database Sex Work Q1 and Q2/CPC Rustenburg Site Database .xlsx"

In [5]:
#filepath=filepath.replace(" ","\ ")
#filepath

'/Users/attiladobi/nacosa/Site\\ Database\\ Sex\\ Work\\ Q1\\ and\\ Q2/CPC\\ Rustenburg\\ Site\\ Database\\ .xlsx'

In [9]:
xl=pd.ExcelFile(filepath) #delimiter=r"\s+"

In [10]:
xl.sheet_names  # see all sheet names

[u'PERFORMANCE DASHBOARD',
 u'Sheet1',
 u'Q4',
 u'Quarter1',
 u'PEER MOTIVATOR LIST',
 u'Number of Visits per a PM']

<h3> Ignore the last row since it's a sum </h3>

In [11]:
xl.parse('Quarter1',skiprows=1, header=0,index_col=[0,1])[:1].transpose() # read a specific sheet to DataFrame

211 Jul                                                   Outreach date
455 Aug                                    YEAR AND MONTH \nOF OUTREACH
625 Sept              PEER MOTIVATOR NAME (enter peer motivators nam...
Unnamed: 3                                           Outreach form code
Unnamed: 4                                                   Day/Night
Unnamed: 5                                                  A - Suburb
Unnamed: 6                                                 Type of site
Who                          CSW (MUST ENTER "YES" IF SEX WORKER) NB!!!
Unnamed: 8                          First time meeting with Sex Worker?
UNIQUE CODE ELEMENTS  B - First name OR at least the first 3 letters...
Unnamed: 10           C - Surname OR at least first 3 letters of sur...
Unnamed: 11                                              Contact Number
Unnamed: 12                                          D - Year of birth
Unnamed: 13                                                  E - Gender
Unnamed: 14           Unique Code (automatically generated - only ge...
Unnamed: 15                    Counter (1 = first outreach for quarter)
Unnamed: 16                                                    OVERRIDE
Unnamed: 17                      Number of services received in quarter
Condoms                                F 1 Male Condoms\n(Number given)
Unnamed: 19                          F2 Female condoms\n (Number Given)
Unnamed: 20                                                     F3 Lube
Workshops                                 E4 Support  group\n workshops
Unnamed: 22                                  E2 Risk reduction Workshop
HTS INDICATORS                            B 5 Known HIV positive Status
Unnamed: 24                          B 1 Received HTS and know results
Unnamed: 25                                  B2 SW tested HIV negative
Unnamed: 26                         HIV negative SWs referred for PrEP
...                                                                 ...
STI                   C1  SWs screened  for Sexually Transmitted Inf...
ADHERENCE                    B 8A Referred to Treatment Adherence Clubs
Unnamed: 34           B 8 B Succesful referal to Treatment Adherence...
STI.1                                     C2 STI Referral \n1= Referred
Unnamed: 36                                 C2B Successful STI  referal
TB                                   D1 Number of SWs screened for TB
Unnamed: 38               D2A TB Referal to health facility\n1=Referred
Unnamed: 39                                    D2B Succesful TB referal
Human Rights                 Did client face any Human rights violation
Unnamed: 41           Referral to Human rights organisations\n1= Ref...
Unnamed: 42                   Succesful Human Rights violations referal
Unnamed: 43                                                    Comments
Unnamed: 44                                                         NaN
Unnamed: 45                                                         NaN
Unnamed: 46                                                         NaN
Unnamed: 47                                                         NaN
Unnamed: 48                                                         NaN
Unnamed: 49                                                         NaN
Unnamed: 50                                                         NaN
Unnamed: 51                                                         NaN
Unnamed: 52                                                         NaN
Unnamed: 53                                                         NaN
Unnamed: 54                                                         NaN
Unnamed: 55                                                         NaN
Unnamed: 56                                                         NaN

[55 rows x 1 columns]

In [105]:
DF=xl.parse('Quarter1',skiprows=2)
col=DF.columns
spike_cols = [col for col in DF.columns if 'Unique Code' in col]

In [141]:
spike_cols

[u'Unique Code (automatically generated - only generated if the person is a sex worker)']

In [171]:
DF['date']=pd.DatetimeIndex(DF['Outreach date'])

In [180]:
DF.date.dt.month

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
       ...
9493    9.0
9494    9.0
9495    9.0
9496    9.0
9497    9.0
9498    9.0
9499    9.0
9500    9.0
9501    9.0
9502    9.0
9503    9.0
9504    9.0
9505    9.0
9506    9.0
9507    9.0
9508    9.0
9509    9.0
9510    9.0
9511    9.0
9512    9.0
9513    9.0
9514    9.0
9515    9.0
9516    9.0
9517    NaN
Name: date, dtype: float64

In [179]:
DF.groupby(DF['date'].dt.month).agg({spike_cols[0]: pd.Series.nunique})

      Unique Code (automatically generated - only generated if the person is a sex worker)
date
4.0                                                 298
5.0                                                 414
6.0                                                 505
7.0                                                 214
8.0                                                 456
9.0                                                 630