<h1> Classes 101 </h1>

In [45]:
class myClass:
    """Test Class"""
    i=123
    def f(self):
        return 'hello world'
    def __init__(self): #always initialize to this value when class istance is defined
        self.data = []

In [46]:
x=myClass()

In [47]:
x.f()

'hello world'

<h1> initializing classes </h1>

In [43]:
class Complex:
    def __init__(self, realpart, imagpart):
        self.r = realpart
        self.i = imagpart
    
    #def make(self,real,img): #test without __init__
    #    self.r=real;
    #    self.i=img;

In [40]:
x=Complex()

In [42]:
x.r , x.i

(2, 3)

In [52]:
x.new=3

In [53]:
x.new

3

<h1> Method objects </h1>

In [4]:
xf = x.f
print xf()

hello world

<h1> Class and Instance Variables </h1>

In [7]:
class Dog:

    kind = 'canine'         # class variable shared by all instances

    def __init__(self, name):
        self.name = name    # instance variable unique to each instance

In [9]:
a=Dog('Rocco')

In [44]:
a.name

'Rocco'

<h1> Incorrect way to initialize an instance of a list in a class </h1>

In [10]:
class Dog:

    tricks = []             # mistaken use of a class variable

    def __init__(self, name):
        self.name = name

    def add_trick(self, trick):
        self.tricks.append(trick)

In [16]:
a=Dog('Rocco')
b=Dog('Fifi')

In [17]:
a.add_trick('one')
b.add_trick('two')

In [18]:
a.tricks

['one', 'one', 'one', 'two']

<h1> Correct way to initialize an instance of a list in a class </h1>

In [20]:
class Dog:


    def __init__(self, name):
        self.name = name
        self.tricks = []

    def add_trick(self, trick):
        self.tricks.append(trick)

In [21]:
a=Dog('Rocco')
b=Dog('Fifi')

In [22]:
a.add_trick('one')
b.add_trick('two')

In [24]:
a.tricks

['one']

<h1> methods can call methods </h1>

In [25]:
class Bag:
    def __init__(self):
        self.data = []
    def add(self, x):
        self.data.append(x)
    def addtwice(self, x):
        self.add(x)
        self.add(x)

In [26]:
bag=Bag()

In [36]:
bag.addtwice(1)

In [37]:
bag.data

[1, 1, 1, 1, 1, 1, 1, 1]

<h1> class definitions can be outside the class text </h1>

In [48]:
# Function defined outside the class
def f1(self, x, y):
    return min(x, x+y)

class C:
    f = f1
    def g(self):
        return 'hello world'
    h = g

<h1> Create an empty class definition to fill unknown structures </h1>

In [49]:
class Employee:
    pass

In [51]:
john = Employee() # Create an empty employee record

# Fill the fields of the record
john.name = 'John Doe'
john.dept = 'computer lab'
john.salary = 1000

<h1>A class in an except clause is compatible with an exception if it is the same class or a base class thereof (but not the other way around â€” an except clause listing a derived class is not compatible with a base class). For example, the following code will print B, C, D in that order:</h1>

In [55]:
class B:
    pass
class C(B):
    pass
class D(C):
    pass

for c in [B, C, D]:
    try:
        raise c()
    except D:
        print "D"
    except C:
        print "C"
    except B:
        print "B"
        
#Note that if the except clauses were reversed (with except B first), it would have printed B, B, B â€” the first matching except clause is triggered.

D
C
D

<h1> iterator </h1>

In [72]:
s='abc'
it=iter(s)
it.next()
it.next()
it.next()
#it.next() # will rise error for end of series

'c'

In [70]:
arr=np.array([1,3,9,12])
for index, xx in enumerate(arr):
    print index, xx
print('\n')
for xx in arr:
    print xx

0 1
1 3
2 9
3 12


1
3
9
12

<h1> class to itterate, using next and __iter__ definitions </h1>

In [73]:
class Reverse:
    """Iterator for looping over a sequence backwards."""
    def __init__(self, data):
        self.data = data
        self.index = len(data)
    def __iter__(self):
        return self
    def next(self):
        if self.index == 0:
            raise StopIteration
        self.index = self.index - 1
        return self.data[self.index]

In [76]:
rev = Reverse('spam')
#iter(rev)
for char in rev:
    print char

m
a
p
s

<h1> Generator </h1>

In [77]:
def reverse(data):
    for index in range(len(data)-1, -1, -1):
        yield data[index] #yeild returns a value at each itteration

In [78]:
reverse('golf')

In [79]:
for char in reverse('golf'):
    print char

f
l
o
g

In [86]:
a=[]
a.append(1)
a.append(2)
a
a.extend([1,2,3,4])
a

[1, 2, 1, 2, 3, 4]

In [84]:
a.index(2)

1

In [89]:
range(10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<h1> Sets in Python, unique elements and not ncessarily sorted </h1>

In [91]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
fruit = set(basket)               # create a set without duplicates
fruit
set(['orange', 'pear', 'apple', 'banana'])

'orange' in fruit,'crabgrass' in fruit               # fast membership testing

(True, False)

In [ ]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a
#set(['a', 'r', 'b', 'c', 'd'])
a - b                              # letters in a but not in b
#set(['r', 'd', 'b'])
a | b                              # letters in either a or b
#set(['a', 'c', 'r', 'd', 'b', 'm', 'z', 'l'])
a & b                              # letters in both a and b
#set(['a', 'c'])
a ^ b                              # letters in a or b but not both
#set(['r', 'd', 'b', 'm', 'z', 'l'])

In [94]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for item in sorted(set(basket)):
    print item

apple
banana
orange
pear